

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558377903339865192.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-558377903339865192.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558377903339865192.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-558377903339865192.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558377903339865192.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558377903339865192.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-558377903339865192.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558377903339865192.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558377903339865192.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558377903339865192.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558377903339865192.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558377903339865192.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-558377903339865192.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558377903339865192.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-558377903339865192.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-558377903339865192.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558377903339865192.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-558377903339865192.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558377903339865192.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-558377903339865192.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558377903339865192.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558377903339865192.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-558377903339865192.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558377903339865192.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-558377903339865192.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558377903339865192.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558377903339865192.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558377903339865192.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-558377903339865192.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558377903339865192.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558377903339865192.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558377903339865192.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558377903339865192.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558377903339865192.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558377903339865192.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558377903339865192.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558377903339865192.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558377903339865192.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558377903339865192.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558377903339865192.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558377903339865192.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558377903339865192.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558377903339865192.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558377903339865192.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-558377903339865192.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558377903339865192.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558377903339865192.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558377903339865192.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558377903339865192.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558377903339865192.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558377903339865192.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558377903339865192.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558377903339865192.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558377903339865192.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558377903339865192.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558377903339865192.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558377903339865192.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558377903339865192.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558377903339865192.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558377903339865192.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558377903339865192.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558377903339865192.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558377903339865192 .-gp-rotate-90,.gps-558377903339865192 .gp-rotate-180,.gps-558377903339865192 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-558377903339865192 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-558377903339865192 .gp-relative{position:relative}.gps-558377903339865192 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558377903339865192 .gp-mb-0{margin-bottom:0}.gps-558377903339865192 .gp-flex{display:flex}.gps-558377903339865192 .gp-inline-flex{display:inline-flex}.gps-558377903339865192 .gp-grid{display:grid}.gps-558377903339865192 .\!gp-hidden{display:none!important}.gps-558377903339865192 .gp-hidden{display:none}.gps-558377903339865192 .gp-min-h-0{min-height:0}.gps-558377903339865192 .gp-w-full{width:100%}.gps-558377903339865192 .gp-max-w-full{max-width:100%}.gps-558377903339865192 .-gp-rotate-90{--tw-rotate:-90deg}.gps-558377903339865192 .-gp-rotate-90,.gps-558377903339865192 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558377903339865192 .gp-rotate-180{--tw-rotate:180deg}.gps-558377903339865192 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558377903339865192 .gp-cursor-pointer{cursor:pointer}.gps-558377903339865192 .gp-flex-col{flex-direction:column}.gps-558377903339865192 .gp-items-center{align-items:center}.gps-558377903339865192 .gp-justify-center{justify-content:center}.gps-558377903339865192 .gp-gap-y-0{row-gap:0}.gps-558377903339865192 .gp-overflow-hidden{overflow:hidden}.gps-558377903339865192 .gp-overflow-clip{overflow:clip}.gps-558377903339865192 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558377903339865192 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558377903339865192 .gp-duration-200{transition-duration:.2s}.gps-558377903339865192 .gp-duration-500{transition-duration:.5s}.gps-558377903339865192 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-558377903339865192 .tablet\:\!gp-hidden{display:none!important}.gps-558377903339865192 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-558377903339865192 .mobile\:\!gp-hidden{display:none!important}.gps-558377903339865192 .mobile\:gp-hidden{display:none}}.gps-558377903339865192 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-558377903339865192 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-558377903339865192 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558377903339865192 .\[\&_p\]\:gp-inline p{display:inline}.gps-558377903339865192 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558377903339865192 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gE3yYLExs9" data-id="gE3yYLExs9"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gE3yYLExs9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gPfHTbnvcS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="giEyNKbmW7" data-id="giEyNKbmW7"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giEyNKbmW7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="geZmtv5wEg gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="gz8pwpCHuI ">
      
    <gp-accordion
      data-id="gz8pwpCHuI"
     uid="gz8pwpCHuI"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":true,"iconPosition":"left","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gz8pwpCHuI","childListNumber":["0"],"chidlrenUid":["gG7fJnlwEd","gf4rM9K1iv","gSrVFnC4pP","gf1Ffw_fK1","gi9hn1Yw4H","gQuguL-Yvr"]},"styles":{"bgColor":{"normal":"#00000000","hover":"#00000000","active":"transparent"},"color":{"normal":"#9b9595","hover":"#121212","active":"#b71717"},"headerBorder":{"normal":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#9b9595","isCustom":true,"borderWidth":"Mixed"},"hover":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"Mixed"},"active":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#9b9595","isCustom":true,"borderWidth":"Mixed"}},"textColor":{"normal":"#121212","hover":"#00000000","active":"#b71717"},"iconColor":{"normal":"#121212","hover":"#121212","active":"#121212"},"contentSizePadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"},"gap":"16px"}},"headerContentPadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"gz8pwpCHuI"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gz8pwpCHuI gp-accordion-item gp-overflow-hidden gp-child-item-gz8pwpCHuI"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gG7fJnlwEd"
        id="gG7fJnlwEd"
        data-index="0"
        class="gz8pwpCHuI gp-accordion-item-gz8pwpCHuI-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--bgc:transparent;--bs:solid;--bw:0px 0px 1px 0px;--bc:#9b9595;--c:#b71717"
      >
       <style class="accordion-style">.gp-accordion-item-gz8pwpCHuI-0:hover 
      {
        .gp-collapsible-icon { 
          color: #b71717 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#b71717;width:16px;height:16px"
            data-index="0"
            class="gz8pwpCHuI gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584339812712">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggz8pwpCHuI_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gG7fJnlwEd"
        data-index="0"
        data-show="true"
        class="gz8pwpCHuI gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gG7fJnlwEd"
        data-index="0"
        class="gz8pwpCHuI gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:8px;--pb:8px" >
            <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      
      class="gwqB_h9_IQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8S5-1iCDJ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8S5-1iCDJ "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Kanit, 'Kanit'), var(--g-font-body, body);--weight:300;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8S5-1iCDJ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="gz8pwpCHuI gp-accordion-item gp-overflow-hidden gp-child-item-gz8pwpCHuI"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gf4rM9K1iv"
        id="gf4rM9K1iv"
        data-index="1"
        class="gz8pwpCHuI gp-accordion-item-gz8pwpCHuI-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--bgc:#00000000;--hvr-bgc:#00000000;--c:#121212;--hvr-c:#00000000;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#9b9595;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gz8pwpCHuI-1:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#9b9595;--hvr-c:#121212;width:16px;height:16px"
            data-index="1"
            class="gz8pwpCHuI gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggz8pwpCHuI_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gf4rM9K1iv"
        data-index="1"
        data-show="false"
        class="gz8pwpCHuI gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gf4rM9K1iv"
        data-index="1"
        class="gz8pwpCHuI gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      
      class="gSMDGMbLlH gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gH-vqPJckI">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gH-vqPJckI "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Kanit, 'Kanit'), var(--g-font-body, body);--weight:300;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggH-vqPJckI_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="gz8pwpCHuI gp-accordion-item gp-overflow-hidden gp-child-item-gz8pwpCHuI"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gSrVFnC4pP"
        id="gSrVFnC4pP"
        data-index="2"
        class="gz8pwpCHuI gp-accordion-item-gz8pwpCHuI-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--bgc:#00000000;--hvr-bgc:#00000000;--c:#121212;--hvr-c:#00000000;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#9b9595;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gz8pwpCHuI-2:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#9b9595;--hvr-c:#121212;width:16px;height:16px"
            data-index="2"
            class="gz8pwpCHuI gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggz8pwpCHuI_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gSrVFnC4pP"
        data-index="2"
        data-show="false"
        class="gz8pwpCHuI gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gSrVFnC4pP"
        data-index="2"
        class="gz8pwpCHuI gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      
      class="gPUQgxFJpq gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJ03NeVfWq">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJ03NeVfWq "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Kanit, 'Kanit'), var(--g-font-body, body);--weight:300;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJ03NeVfWq_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="gz8pwpCHuI gp-accordion-item gp-overflow-hidden gp-child-item-gz8pwpCHuI"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gf1Ffw_fK1"
        id="gf1Ffw_fK1"
        data-index="3"
        class="gz8pwpCHuI gp-accordion-item-gz8pwpCHuI-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--bgc:#00000000;--hvr-bgc:#00000000;--c:#121212;--hvr-c:#00000000;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#9b9595;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gz8pwpCHuI-3:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#9b9595;--hvr-c:#121212;width:16px;height:16px"
            data-index="3"
            class="gz8pwpCHuI gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggz8pwpCHuI_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gf1Ffw_fK1"
        data-index="3"
        data-show="false"
        class="gz8pwpCHuI gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gf1Ffw_fK1"
        data-index="3"
        class="gz8pwpCHuI gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gTjYa-I5s3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9O47zzvYT">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g9O47zzvYT "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Kanit, 'Kanit'), var(--g-font-body, body);--weight:300;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9O47zzvYT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="4"
      class="gz8pwpCHuI gp-accordion-item gp-overflow-hidden gp-child-item-gz8pwpCHuI"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gi9hn1Yw4H"
        id="gi9hn1Yw4H"
        data-index="4"
        class="gz8pwpCHuI gp-accordion-item-gz8pwpCHuI-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--bgc:#00000000;--hvr-bgc:#00000000;--c:#121212;--hvr-c:#00000000;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#9b9595;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gz8pwpCHuI-4:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#9b9595;--hvr-c:#121212;width:16px;height:16px"
            data-index="4"
            class="gz8pwpCHuI gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggz8pwpCHuI_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gi9hn1Yw4H"
        data-index="4"
        data-show="false"
        class="gz8pwpCHuI gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gi9hn1Yw4H"
        data-index="4"
        class="gz8pwpCHuI gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g1L_UdfqPs gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWFC1Wnh6s">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gWFC1Wnh6s "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Kanit, 'Kanit'), var(--g-font-body, body);--weight:300;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWFC1Wnh6s_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="5"
      class="gz8pwpCHuI gp-accordion-item gp-overflow-hidden gp-child-item-gz8pwpCHuI"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gQuguL-Yvr"
        id="gQuguL-Yvr"
        data-index="5"
        class="gz8pwpCHuI gp-accordion-item-gz8pwpCHuI-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--bgc:#00000000;--hvr-bgc:#00000000;--c:#121212;--hvr-c:#00000000;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#9b9595;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gz8pwpCHuI-5:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#9b9595;--hvr-c:#121212;width:16px;height:16px"
            data-index="5"
            class="gz8pwpCHuI gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggz8pwpCHuI_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gQuguL-Yvr"
        data-index="5"
        data-show="false"
        class="gz8pwpCHuI gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gQuguL-Yvr"
        data-index="5"
        class="gz8pwpCHuI gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g5q-iJ8ldu gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXXGMUMU3d">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gXXGMUMU3d "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Kanit, 'Kanit'), var(--g-font-body, body);--weight:300;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXXGMUMU3d_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr4-ORWnVac.woff) format('woff');
}
/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr4-ORWzVaFrNlJzIu4.woff2) format('woff2');
  unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr4-ORWoVaFrNlJzIu4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr4-ORWpVaFrNlJzIu4.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr4-ORWnVaFrNlJz.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-558377903339865192 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/blong711/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=558376132689265907&sectionId=558377903339865192)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggz8pwpCHuI_childItem_0","label":"ggz8pwpCHuI_childItem_0","default":"<p>Who should I to contact if I have question?</p>"},{"type":"html","id":"ggz8pwpCHuI_childItem_1","label":"ggz8pwpCHuI_childItem_1","default":"<p>How can I cancel or change my order?</p>"},{"type":"html","id":"ggz8pwpCHuI_childItem_2","label":"ggz8pwpCHuI_childItem_2","default":"<p>How can I return a product?</p>"},{"type":"html","id":"ggz8pwpCHuI_childItem_3","label":"ggz8pwpCHuI_childItem_3","default":"<p>How long will it take to get my package?</p>"},{"type":"html","id":"ggz8pwpCHuI_childItem_4","label":"ggz8pwpCHuI_childItem_4","default":"<p>What shipping methods are available?</p>"},{"type":"html","id":"ggz8pwpCHuI_childItem_5","label":"ggz8pwpCHuI_childItem_5","default":"<p>Do you provide any warranty?</p>"},{"type":"html","id":"gg8S5-1iCDJ_text","label":"gg8S5-1iCDJ_text","default":"<p><strong>Lorem Ipsum</strong><span style=\"background-color:rgb(255,255,255);color:rgb(51,62,72);font-size:15.95px;\"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>"},{"type":"html","id":"ggH-vqPJckI_text","label":"ggH-vqPJckI_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(51,62,72);font-size:15.95px;\">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span></p>"},{"type":"html","id":"ggJ03NeVfWq_text","label":"ggJ03NeVfWq_text","default":"<p><strong>Lorem Ipsum</strong><span style=\"background-color:rgb(255,255,255);color:rgb(51,62,72);font-size:15.95px;\"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>"},{"type":"html","id":"gg9O47zzvYT_text","label":"gg9O47zzvYT_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(51,62,72);font-size:15.95px;\">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span></p>"},{"type":"html","id":"ggWFC1Wnh6s_text","label":"ggWFC1Wnh6s_text","default":"<p><strong>Lorem Ipsum</strong><span style=\"background-color:rgb(255,255,255);color:rgb(51,62,72);font-size:15.95px;\"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>"},{"type":"html","id":"ggXXGMUMU3d_text","label":"ggXXGMUMU3d_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(51,62,72);font-size:15.95px;\">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
