<!-- Header -->
<header id="header" class="header-default">
    {% if section.settings.show_announcement_bar %}
    <div class="announcement-bar">
        <div class="container">
            <div class="announcement-text">{{ section.settings.announcement_text }}</div>
        </div>
    </div>
    {% endif %}
    
    <div class="header-top">
        <div class="container">
            <div class="row wrapper-header align-items-center">
                <div class="col-md-4 col-3 d-xl-none">
                    <a href="#mobileMenu" class="mobile-menu" data-bs-toggle="offcanvas" aria-controls="mobileMenu">
                        <i class="icon icon-categories1"></i>
                    </a>
                </div>
                {% if section.settings.show_language_currency %}
                <div class="col-xl-5 d-none d-xl-block">
                    <div class="header-language">
                        <div class="tf-languages">
                            <select class="image-select center style-default type-languages">
                                {% for language in shop.languages %}
                                    <option value="{{ language.iso_code }}">{{ language.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="tf-currencies">
                            <select class="image-select center style-default type-currencies">
                                {% for currency in shop.currencies %}
                                    <option value="{{ currency.iso_code }}" {% if currency.iso_code == shop.currency %}selected{% endif %}>
                                        {{ currency.name }} ({{ currency.iso_code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-xl-2 col-md-4 col-6 text-center">
                    <a href="{{ routes.root_url }}" class="logo-header">
                        {% if section.settings.logo != blank %}
                            <img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ shop.name }}" class="logo" width="150" height="50">
                        {% else %}
                            <span class="logo-text">{{ shop.name }}</span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-xl-5 col-md-4 col-3">
                    <ul class="nav-icon d-flex justify-content-end align-items-center">
                        <li class="nav-search">
                            <a href="#search" data-bs-toggle="offcanvas" class="nav-icon-item">
                                <i class="icon icon-search"></i>
                            </a>
                        </li>
                        <li class="nav-account">
                            <a href="{{ routes.account_url }}" class="nav-icon-item">
                                <i class="icon icon-user"></i>
                            </a>
                        </li>
                        {% if section.settings.show_wishlist %}
                        <li class="nav-wishlist">
                            <a href="{{ routes.root_url }}pages/wishlist" class="nav-icon-item">
                                <i class="icon icon-heart"></i>
                                <span class="count-box">0</span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-cart">
                            <a href="{{ routes.cart_url }}" data-bs-toggle="offcanvas" class="nav-icon-item">
                                <i class="icon icon-cart"></i>
                                <span class="count-box">{{ cart.item_count }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom d-none d-xl-block">
        <div class="container">
            <nav class="box-navigation text-center">
                <ul class="box-nav-menu">
                    {% for link in linklists[section.settings.menu].links %}
                        <li class="menu-item {% if link.links != blank %}has-dropdown{% endif %}">
                            <a href="{{ link.url }}" class="item-link">
                                {{ link.title }}
                                {% if link.links != blank %}
                                    <i class="icon icon-arr-down"></i>
                                {% endif %}
                            </a>
                            {% if link.links != blank %}
                                <div class="sub-menu mega-menu mega-home">
                                    <div class="box-search">
                                        <div class="tf-select">
                                            <select name="pagetype" id="pagetype">
                                                <option value="">Page Type</option>
                                                {% for child_link in link.links %}
                                                    <option value="{{ child_link.title | handleize }}">{{ child_link.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <form class="form-search" action="{{ routes.search_url }}">
                                            <input type="text" name="q" placeholder="{{ section.settings.search_placeholder }}" tabindex="0" aria-required="true" required>
                                            <button type="submit"><i class="icon icon-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="row-demo">
                                        {% for child_link in link.links %}
                                            <div class="demo-item">
                                                {% if child_link.object.featured_image %}
                                                    <a href="{{ child_link.url }}" class="demo-image">
                                                        <img class="lazyload" data-src="{{ child_link.object.featured_image | img_url: 'master' }}" src="{{ child_link.object.featured_image | img_url: 'master' }}" alt="{{ child_link.title }}" width="300" height="200">
                                                        {% if child_link.object.metafields.custom.new_label %}
                                                            <div class="demo-label">
                                                                <span>New</span>
                                                            </div>
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                                <a href="{{ child_link.url }}" class="demo-name link">{{ child_link.title }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- /Header -->

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "header",
            "content": "Announcement Bar"
        },
        {
            "type": "checkbox",
            "id": "show_announcement_bar",
            "label": "Show Announcement Bar",
            "default": true
        },
        {
            "type": "text",
            "id": "announcement_text",
            "label": "Announcement Text",
            "default": "Free shipping on all orders over $50"
        },
        {
            "type": "header",
            "content": "Logo"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "header",
            "content": "Language & Currency"
        },
        {
            "type": "checkbox",
            "id": "show_language_currency",
            "label": "Show Language & Currency Selector",
            "default": true
        },
        {
            "type": "header",
            "content": "Menu"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
        },
        {
            "type": "header",
            "content": "Search Settings"
        },
        {
            "type": "text",
            "id": "search_placeholder",
            "label": "Search Placeholder",
            "default": "Search products..."
        },
        {
            "type": "header",
            "content": "Wishlist Settings"
        },
        {
            "type": "checkbox",
            "id": "show_wishlist",
            "label": "Show Wishlist",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "Header"
        }
    ]
}
{% endschema %} 